
config rtsproxy 'main'
	option enabled '0'
	option port '8554'
	option enable_nat '0'
	option rtp_buffer_size '8192'
	option udp_packet_size '1500'
	option auth_token ''
	option http_interface ''
	option mitm_interface ''
	option listen_interface ''
	option json_path '/etc/rtsproxy/config.json'
	option watchdog '1'
