
config rtsproxy 'main'
	option enabled '0'
	option port '8554'
	option enable_nat '0'
	option nat_method 'stun'
	option stun_host 'stun.l.google.com'
	option stun_port '19302'
	option buffer_pool_count '8192'
	option buffer_pool_block_size '2048'
	option auth_token ''
	option http_interface ''
	option mitm_interface ''
	option listen_interface ''
	option json_path '/etc/rtsproxy/config.json'
	option watchdog '1'
	option log_level 'info'
	option strip_padding '0'
	option wait_keyframe '0'
	option use_external_config '0'
	# option log_file '/var/log/rtsproxy.log'
	# option log_lines '10000'
